.main{
    background: #fff;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 80%;
    padding: 20px;
}
.nav{
    color: black;
    background: #f7f7f7;
    cursor: pointer;
    text-align: center;
    
}