@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';


/* Header */

	#header {
		body.is-preload & {
			&.alt {
				> * {
					opacity: 1;
				}

				.logo {
					@include vendor('transform', 'none');
				}
			}
		}
	}